// Color Configuration
// ===================


// Brand Colors
// ------------
/// hello, brand colors!
/// @preview color-palette
$brand-colors: (
  'brand-pink': #d83a5d,
);

@include herman-add-colors('brand-colors', $brand-colors);


// UI Colors
// ---------
/// hello, ui colors!
/// @preview color-palette
$ui-colors: (
  'contrast-light': #fff,
  'contrast-dark': #23090f,
);

@include herman-add-colors('ui-colors', $ui-colors);


// Theme Colors
// ------------
/// hello, theme colors!
/// @preview color-palette
$theme-colors: (
  'text': 'contrast-dark',
  'background': 'contrast-light',
  'action': 'brand-pink',
  'focus': 'action' ('shade': 30%),
  'invert': 'action' ('shade': 70%),

  'callout': 'action' ('tint': 85%),
  'border': 'action' ('tint': 75%),
);

@include herman-add-colors('theme-colors', $theme-colors);
