// Fonts Config
// ============

$font-path: 'assets/fonts/';


// Title Font
// ---------
/// Hello title font...
/// @preview font-specimen; key: title
$title-font: (
  'name': 'amatic',
  'stack': ('azo-sans-web', 'Helvetica Neue', Helvetica, Arial, sans-serif),
  'regular': 'amaticsc-regular-webfont',
  'bold': 'amatic-bold-webfont',
);

@include herman-add-font('title', $title-font);


// Body Font
// ---------
/// hello body font...
/// @preview font-specimen; key: body
$body-font: (
  'name': 'azo-sans-web',
  'stack': ('Helvetica Neue', Helvetica, Arial, sans-serif),
);

@include herman-add-font('body', $body-font);


// Code Font
// ---------
/// hello code font...
/// @preview font-specimen; key: code
$code-font: (
  'name': 'Consolas',
  'stack': (Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace),
);

@include herman-add-font('code', $code-font);
