//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-footer {
  background-color: $color-darker;
  padding: 3rem 0;

  &,
  a {
    color: $color-white;
  }
}

.site-info {
  @include above($phone-landscape) {
    display: flex;
    justify-content: space-between;
  }
}

.copyright,
.email-signup {
  display: block;
  padding: 1rem;

  @include above($phone-landscape) {
    flex: 0 1 30em;
  }
}

[data-id='Email Address:p'] {
  align-items: center;
  display: flex;
}

[data-id='Email Address:label'] {
  padding-right: 1em;
}

[data-id='Email Address:input'] {
  color: inherit !important;
  flex: 1 1 auto;
}

.ctct-button {
  display: block;
  width: 100%;
}
