//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-footer {
  background-color: $color-darker;
  display: flex;

  &,
  a {
    color: $color-white;
  }
}
