//--------------------------------------------------------------
// Header
//--------------------------------------------------------------


.announce {
  font-size: $fontsize-m;
  font-weight: bold;
  text-align: center;

  @include above($phone-landscape) {
    font-size: $fontsize-l;
  }

  [href] {
    &:link,
    &:visited {
      background-color: $color-button-background;
      border-bottom: 2px solid $color-button-background-hover;
      color: $color-button-text;
      display: block;
      padding: 1em;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $color-button-background-hover;
    }
  }
}

.site-header {
  display: flex;
  padding: 2rem 0 0;

  .wrap {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.buntport,
.theater {
  display: block;
}

.site-title {
  font-size: 3rem;
  line-height: .875;
  margin-bottom: 0;
  text-transform: uppercase;
}
