//--------------------------------------------------------------
// Header
//--------------------------------------------------------------


.site-header {
  background-color: $color-darker;
  display: flex;
  padding: 1rem 0;

  .wrap {
    display: flex;
  }
}

.site-title {
  font-size: 3rem;
  font-weight: 900;
  line-height: .875;
  margin-bottom: 0;
  text-transform: uppercase;
}
