//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
  @include list-reset;

  // Each icon <li>
  .social-icon {

    // Loop through all social icons
    @each $social-color, $color in $social-colors {

      // Set styles on those social icons!
      .icon-#{$social-color} {
        fill: $color;
        height: 1.875rem;
        width: 1.875rem;

        &:hover {
          fill: lighten($color, 20%);
        }
      }
    }

    // No margin for the last <li> item
    &:last-child {
      margin-right: 0;
    }
  }
}
