//--------------------------------------------------------------
// Mobile Navigation
//--------------------------------------------------------------

// Fix scrolling on the entire body
// when the more menu is visible
.mobile-menu-more {
  overflow: hidden;
}

// Fix the menu to the bottom of the window
.mobile-nav-menu {
  background-color: rgba($color-black, 0);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color 0.2s linear, width 0.2s linear;
  width: 0;

  // Don't show this puppy above tablet-landscape
  @include above('tablet-landscape') {
    display: none;
  }

  // Add a background color to the menu
  // when the "More" items are displayed
  &.more {
    background-color: rgba($color-black, 0.7);
  }

  &.more,
  .sub-menu {
    width: 100%;
  }

  .sub-menu {
    transition: opacity 0.5s linear;
  }

  // Adjust padding for admin bar
  .admin-bar & {
    padding-top: 3.5rem;

    @include above('wp-admin-bar') {
      padding-top: 2.5rem;
    }
  }

  li {
    cursor: pointer;
  }
}

// Remove margins from all menu items
.mobile-nav-menu {

  // Only target the parent menu
  .mobile-nav {

    // Only target top-level items
    > li {
      flex: 1 0 20%;
      margin: 0;

      a {
        padding: 0 0.625rem;
      }
    }
  }
}

// Make sure the first four items are equal widths
.mobile-nav-menu {

  // Only target the parent menu
  .mobile-nav {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    position: absolute;
    width: 100vw;

    // Only target top-level items
    > li:nth-child(-n+5) {
      transition: opacity 0.5s ease;

      background-color: $color-white;
      border-top: 1px solid rgba($color-black, .1);
      flex-grow: 1;
      height: 4rem;
      text-align: center;

      &:hover {
        background-color: $color-gallery;
      }

      > a {
        display: block;
        font-size: 0.75rem;
        height: 100%;
        line-height: 1.2;

        span {
          display: block;
        }
      }
    }
  }
}

// Hide anything more than the first four items
.mobile-nav-menu-hidden {
  bottom: 0;
  display: block;
  max-height: 100%;
  opacity: 0;
  overflow: scroll;
  padding: 5.25rem 0;
  position: absolute;
  right: 0;
  transition: opacity 0.5s linear;
  visibility: hidden;
  width: 50vw;
  z-index: -1;
}

.mobile-menu-more:not(.sub-menu-more) {

  .mobile-nav-menu-hidden {
    opacity: 1;
  }
}

// Show the remaining menu items when the ".more" class is active
.mobile-nav-menu.more {

  .mobile-nav-menu-hidden {
    visibility: visible;

    li {
      bottom: 0;
      clear: both;
      display: block;
      float: right;
      margin: 0;
      position: relative;
      right: 0;
      width: 100%;

      .sub-menu {
        opacity: 1;
        padding-left: 10%;
      }

      .sub-menu-more & {
        display: none;
      }

      a {
        color: $color-white;
        padding: 0.625rem 1.25rem;
      }
    }
  }
}

// Style the more/fly-in menu
.mobile-nav-menu .mobile-nav ul.mobile-nav-menu-more,
.mobile-nav-menu .mobile-nav > .sub-menu {
  background-color: $color-gray;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
}

.mobile-nav-menu .mobile-nav {

  ul {
    box-shadow: none;

    .mobile-menu-more:not(.sub-menu-more) & {
      top: 0;
    }
  }
}

// Style the close button
.close-mobile-menu {
  background-color: transparent;
  display: none;
  height: 2rem;
  position: absolute;
  right: 0.75rem;
  top: 0.625rem;
  width: 2rem;
  z-index: 1;

  .admin-bar & {
    top: 3.5rem;

    @include above('wp-admin-bar') {
      top: 2.5rem;
    }
  }

  // Get rid of that nasty hover state
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;

    svg {
      opacity: .6;
    }
  }

  // Only display when more items are visible
  .more & {
    display: block;
  }

  svg {
    fill: $color-white;
    height: 100%;
    transition: opacity 0.5s ease;
    width: 100%;
  }
}

// Don't show the submenu when we hover the parent
.mobile-nav.dropdown {

  .menu-item-has-children:hover {

    .sub-menu {
      display: none;
    }
  }

  .mobile-menu-more:not(.sub-menu-more) & {

    .menu-item-has-children:hover {

      .sub-menu {
        display: block;
        left: auto;
        opacity: 1;
        right: 0;
      }
    }
  }

  .visible,
  .visible:hover,
  .visible:focus,
  .visible:active {

    .sub-menu {
      bottom: 5.25rem;
      display: block;
      left: auto;
      opacity: 1;
      position: fixed;
      right: 0;
      top: auto;
      width: 50vw;

      .sub-menu {
        bottom: 0;

        @include above('tablet-portrait') {
          bottom: auto;
        }
      }
    }

    .sub-menu .sub-menu {
      padding-left: 0.625rem;
      position: relative;
    }
  }
}

// Adjust link and anchor styles for submenus
.mobile-nav.dropdown {

  .sub-menu {
    left: 0;
    opacity: 0;
    z-index: -1;
    width: 50vw;

    @include above('tablet-portrait') {
      left: auto;
      right: 0;
    }

    a {
      color: $color-white;
      font-size: 1rem;
      padding: 0.625rem 1.25rem;
      text-align: left;
    }

    li {
      display: block;
      float: none;
      margin: 0;
    }
  }
}

// Adjust submenu z-index when parent is visible
.mobile-nav.dropdown .visible {

  // Adjust z-index when visible
  .sub-menu {
    z-index: 1;
  }
}

// Add styles for non-JS users
// Add a horizontal scroll and faded edges
.no-js {

  &.admin-bar {

    .mobile-nav-menu {
      padding-top: 0;
    }
  }

  .mobile-nav-menu {
    bottom: 0;
    font-size: 0;
    height: 4rem;
    overflow-x: auto;
    top: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    white-space: nowrap;
    width: 100%;

    > div {
      bottom: 0;
      left: 0;

      &:before,
      &:after {
        position: fixed;
        bottom: 0;
        height: 100%;
        width: 25%;
        content: "";
        pointer-events: none; /* so the text is still selectable */
        z-index: 20;
      }

      &:after {
        right: 0;
        background: linear-gradient(to left,
        rgba(255,255,255, 1) 0%,
        rgba(255,255,255, 0) 100%
        );
      }

      &:before {
        left: 0;
        background: linear-gradient(to left,
        rgba(255,255,255, 0) 0%,
        rgba(255,255,255, 1) 100%
        );
      }
    }
  }
}

// Adjust display of menu items
.no-js {

  .mobile-nav-menu {

    .mobile-nav {

      a {
        padding: 0 0.625rem;
        text-align: center;

        span {
          display: block;
        }
      }

      > li {

        &:nth-child(n+6) {
          display: inline-block;
        }

        &:first-of-type {
          padding-left: 6.25rem;
        }

        &:last-of-type {
          padding-right: 6.25rem;
        }
      }

      li {
        background-color: $color-white;
        border-top: 1px solid rgba($color-black, .1);
        display: inline-block;
        float: none;
        font-size: 0.75rem;
        height: 4rem;
        left: 0;
        margin: 0;
        position: relative;
        text-align: center;
        vertical-align: top;
        width: auto;

        &:hover {
          background-color: $color-white;
        }
      }
    }
  }
}

// Adjust display of submenus and links
.no-js {

  .mobile-nav-menu {

    .mobile-nav {

      li {

        > a {
          display: block;
          font-size: 0.75rem;
          height: 100%;
          line-height: 1.2;
        }

        &.menu-item-has-children {

          > a {
            display: inline-block;
            vertical-align: top;
          }

          &:hover {

            .sub-menu {
              display: inline-block;
              left: 0;
            }
          }
        }
      }
    }

    .mobile-nav.dropdown {

      .sub-menu {
        display: inline-block;
        float: none;
        left: 0;
        opacity: 1;
        position: relative;
        top: auto;
        width: auto;
        z-index: 1;

        a {
          color: $color-link;
        }

        li {
          border: none;
        }
      }
    }
  }

  .mobile-nav-menu {

    .menu.dropdown ul a {
      width: auto;
    }
  }
}
