//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
  color: $color-link;

  &:visited {
    color: $color-link;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-link-hover;
  }
}

// Default menu (active after a fresh WordPress install)

.menu {
  @include list-reset;

  li {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
  }

  ul {
    @include list-reset;
  }


  &.dropdown {

    // Sub-menu
    ul {
      float: left;
      left: -999em;
      position: absolute;
      top: 1.5rem;
      z-index: 99999;

      // Sub-sub menu
      ul {
        left: -999em;
        top: 0;
      }

      // Sub-menu items
      li {

        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      // Sub-menu links
      a {
        height: auto;
        width: 12.5rem;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    // Display sub-menu on hover
    li:hover > ul,
    li.focus > ul {
      left: auto;
    }

    // Menu items
    li {
      float: left;
      position: relative;

      &:hover > a,
      &.focus > a {
      }
    }
  }

  // Menu hyperlinks
  a {
    display: block;
    text-decoration: none;
  }

  // Current items
  .current_page_item a,
  .current-menu-item a {
    color: $color-link-hover;
    font-weight: bold;

    &:before {
      content: ' [ ';
    }

    &:after {
      content: ' ] ';
    }
  }
}

// Main navigation (after creating a menu in the dashboard)
.menu-main-container {
  width: 100%;
}

.main-navigation {
  clear: both;
  height: auto;
  width: 100%;

  @include above($tablet-portrait) {
    display: flex;
    justify-content: flex-end;
    max-width: 60%;
  }

  // Menu area
  ul {
    display: none;

    @include above($tablet-portrait) {
      display: flex;
    }
  }

  &.toggled ul {
    display: block;
  }
}

// Small menu
.menu-toggle {
  display: block;

  @include above($tablet-portrait) {
    display: none;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5rem;
    overflow: hidden;
  }

  & .nav-previous {
    float: left;
    height: auto;
    width: 50%;
  }

  & .nav-next {
    height: auto;
    float: right;
    text-align: right;
    width: 50%;
  }
}
