//--------------------------------------------------------------
// Tribe Events
//--------------------------------------------------------------

[data-feature='main-stage'] {
  padding: 2rem 0;

  &:first-child {
    padding-top: 0;
  }
}

[data-feature='special-events'] {
  padding: 2rem 0;
}

[data-feature='third-tuesdays'],
[data-feature='all-ages'] {
  margin: 0 0 - (2 * $gutter);
  padding: 2rem (2 * $gutter);
}

[data-feature='third-tuesdays'] {
  background-color: rgb(251, 244, 238);
  border: 2px dashed;
  border-width: 2px 0;
}

[data-feature='all-ages'] {
  background-color: rgb(245, 251, 238);
  border-bottom: 2px dashed;
}

[data-feature-image] {
  background-position: center;
  background-size: cover;
  padding-top: percentage(9/16);

  @include above($phone-landscape) {
    &:not([data-feature-image='large']) {
      float: left;
      margin-right: 1.5rem;
      width: 20%;
      padding-top: 20%;
    }
  }
}

.ticket-link {
  &:link,
  &:visited {
    align-items: center;
    background: $color-link;
    border: 1px solid $color-white;
    border-radius: 100%;
    color: $color-white;
    display: flex;
    float: right;
    justify-content: center;
    font-weight: bold;
    margin: 0 1.5rem;
    width: 6em;
    height: 6em;

    @include below($phone-landscape) {
      margin-top: -3em;
    }

    @include above($phone-landscape) {
      font-size: $fontsize-m;
    }

    [data-feature-image='large'] + & {
      margin-top: -3em;
    }
  }

  &:hover,
  &:focus,
  &:active {
    background: $color-link-hover;
  }

}

.show-dates {
  font-weight: bold;
}

.tribe-events-notices {
  background: lighten($color-primary, 34%);
  border-radius: 0;
  border: 1px solid lighten($color-primary, 30%);
  color: $color-darker;
  text-shadow: 0;
}

.tribe-events-widget-link {
  display: none;
}

// Custom/Additional field displays start and end of season
.season-duration {
  font-weight: 700;
}
