//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
  display: flex;
  max-width: $max-width;
  padding: 0 2 * $gutter;
  width: 100%;

  @include above('desktop') {
    padding: 0;
  }
}


.site-content {
  margin: 1.5rem auto;

  @include above('desktop') {
    margin: 2.5rem auto 4rem;
  }
}

//.primary {
//
//}

//.secondary {
//
//}
