//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
  margin: 0 auto;
  max-width: $max-width;
  overflow-x: hidden;
  padding: 0 $gutter;
  width: 100%;
}


.site-content {
  margin: 1.5rem auto;

  @include above('desktop') {
    margin: 2.5rem auto 4rem;
  }
}

.primary {
  width: 100%;
}

//.secondary {
//
//}
