//--------------------------------------------------------------
// Accessibility
//--------------------------------------------------------------

// Hide text meant only for screen readers

.screen-reader-text {
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute !important;
  width: 0.0625rem;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-background-screen-reader;
    border-radius: $border-radius;
    box-shadow: 0 0 0.125rem 0.125rem rgba($color-black, 0.6);
    clip: auto !important;
    color: $color-text-screen-reader;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    height: auto;
    left: 0.3125rem;
    line-height: normal;
    padding: 0.9375rem 1.4375rem 0.875rem;
    text-decoration: none;
    top: 0.3125rem;
    width: auto;
    z-index: 100000; // Above WP toolbar
  }
}
