//--------------------------------------------------------------
// Clearings
//--------------------------------------------------------------

.clear,
.site-content,
.site-footer {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
