//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body,
button,
input,
select,
textarea {
  color: $color-text-main;
  font-family: $font-sans;
  line-height: $line-height-body;
}

// Headers

h1,
.h1 {

}

h2,
.h2 {

}

h3,
.h3 {

}

h4,
.h4 {

}

h5,
.h5 {

}

h6,
.h6 {

}

// Copy

p {
  margin: 0 0 1.5rem;
}

b,
strong {
  font-weight: 700;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote,
q {
  margin: 0 1.5rem;
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

address {
  margin: 0 0 1.5rem;
}

pre {
  font-family: $font-pre;
  font-size: 0.9rem;
  line-height: $line-height-pre;
  margin: 0 0 1.5rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.5rem;
}

code,
kbd,
tt,
var {
  font-family: $font-code;
  font-size: 0.9rem;
}

abbr,
acronym {
  border-bottom: 1px dotted $color-border-abbr;
  cursor: help;
}

mark,
ins {
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
  @include word-break;
}
