// Site Message
// ============

$message-gradient:
  color('callout') 49.9%,
  color('background') 50%,
;

.site-messages {
  background-color: color('callout');
  padding: size('gutter');
  position: relative;
  text-align: center;

  @include after(' ') {
    @include stretch(100%, 0, auto, 0);
    background-image: linear-gradient(to bottom right, $message-gradient);
    height: size('gutter');
  }

  @include above('small-screen') {
    @include font-size('large');
  }
}
