//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------


//@import '../../../../node_modules/accoutrement-scale/sass/scale';
@import '../../../../node_modules/accoutrement-layout/sass/layout';

/// Standard Media Query Breakpoints
/// @group media queries

$large-desktop: 105rem; // 1680px
$desktop: 85.375rem; // 1366px
$tablet-landscape: 64rem; //1024px
$wp-admin-bar: 48.9375rem; // 783px
$tablet-portrait: 48rem; // 768px
$phone-landscape: 40rem; // 640px
$phone-portrait: 22.5rem; // 360px

