//--------------------------------------------------------------
// Global Form Variables
//--------------------------------------------------------------

// Buttons
$color-button-background: $color-link;
$color-button-background-hover: $color-link-hover;
$color-button-text: $color-white;

// Inputs
$color-input-border: $color-silver;
$color-input-focus-text: $color-cod-gray;
$color-input-text: $color-dove-gray;

$padding-input: 0.1875rem 0.3125rem;
