// Form Patterns
// =============

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border: 1px solid;
  display: block;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

textarea {
  min-height: 8rem;
}

button,
.btn,
.donate,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  &,
  #{$link} {
    @include contrasted('action');
    border-radius: size('corners');
    display: inline-block;
    font: inherit;
    font-weight: inherit;
    padding: size('half-shim') size('gutter');
    text-decoration: none;
  }

  #{$focus} {
    background-color: color('focus');
  }
}

.donate {
  @include font-size('large');
  display: block;
  margin: size('gutter') 0;
  padding: size('gutter');
  width: 100%;
}
